################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/
obj/
bin/
.DS_Store
node_modules/
dist/
**/*.log
.idea
.vscode
*.user
*.pubxml
application.Home.json
Jenkinsfile